/* reset of css*/

*{
    margin: 0;
    padding: 0;
}

/* navbar section and logo img section*/

#logo{
    margin: 3px 26px;
}
#logo img{
    height: 59px;
    margin: 3px 0px;
}
#navbar{
    display: flex;
    position: relative;
    top: 0px;
    align-items: center;
}
#navbar ul{
display: flex;
list-style: none;
font-size: 0.9rem;
}
#navbar ul li a{
    padding: 7px 24px;
    display: block;
    border-radius: 20px;
    text-decoration: none;
    color: aliceblue;
    
}
#navbar ul li a:hover{
    color: black;
    background-color: aliceblue;
}
 
#navbar::before{
content:"";
height:100%;
width: 100%;
top: 0px;
left: 0px;
position:absolute;
background-color: black;
z-index: -1;
opacity: 0.4;
}

/* home and pragraph section*/


#home{
    display: flex;
    padding: 3px 200px;
    flex-direction: column;
    align-items: center;
    height: 534px;
    justify-content: center;
}

#home::before{
content:"";
height:100%;
width: 100%;
top: 0px;
left: 0px;
position:absolute;
background:url("food-ingredients-pizza-table-close-up_392895-268212.jpg")no-repeat  center center/cover;
z-index: -1;
opacity: 0.89;
}
.h-prime{
font-size: 2.3rem;
font-family: Arial, Helvetica, sans-serif;
color: rgb(236, 232, 232);
align-items: center;
text-align: center;
}

#home p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2px 35px;
    color: rgb(255, 255, 255);
   font-size: 1.0rem;
    align-items: center;
}

#home .btn{
border-radius: 7px;
margin: 10px 34px;
height: 28px;
padding: 4px 16px;
cursor: pointer;
border: 2px solid rgb(26, 23, 23);
font-size: 0.9rem;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn:hover{
background-color: black;
color: aliceblue;
}

/* Our services */

.h-secondary{
    font-size: 1.9rem;
    text-align: center;
    margin: 9px;
    height: 25px;
}
#services{
    margin: 34px;
    display: flex;
}
.logo-box{
border: 2px solid red;
background-color: rgb(207, 206, 206);
border-radius: 25px;
padding: 34px;
margin: 3px 6px;
text-align: center;
}
.logo-box img{
    height: 160px;
    display: block;
    margin: auto;
}
#services-heading{
    text-align: center;
    height: 560px;
}

#services-heading p{
    text-align: center;
}


/*client services*/

#clients-section{
    height: 226px;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clients-item img{
height: 100px;
justify-content: center;
align-items: center;
padding: 12px;
}

#clients::before{
content:"";
height:36%;
width: 100%;
position:absolute;
background:url("fruit-sweet-pizza-with-nectarine-lemonade_130458-11.jpg")no-repeat  center center/cover;
z-index: -1;
opacity: 0.69;
}

/* contact us*/
.h-text{
    
align-items: center;
justify-content: center;
text-align: center;
font-size: 2.1rem;
}
#Contact{
    position: relative;
    height: 20px;
  
   
}
#contact-box{
    
    display: flex;
    padding-bottom: 34px;
    align-items: center;
    justify-content: center;
   
    font-size: 1.0rem;
}
#contact input,#contact textarea{
    width:100%;
    padding:0.3rem;
}
#contact::before{
    content:"" ;
    z-index: -1;
    background:url("contact\ us.jpeg")no-repeat center center/cover;
    height: 400px;
    width: 83.9rem;
    position: absolute;
    opacity: 0.7;
}
.center{
    text-align: center;
    justify-content: center;
    align-items: center;
   
}
footer{
 height: 27px;
background: rgb(27, 27, 27);
color: rgb(255, 255, 255);
padding: 9px,20px;    
}
